body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:470px;
  top:100px;
  width:360px;
  height:939px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:939px;
}
#u1 {
  position:absolute;
  left:2px;
  top:462px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:100px;
  width:360px;
  height:718px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:718px;
}
#u3 {
  position:absolute;
  left:2px;
  top:351px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:840px;
  top:100px;
  width:360px;
  height:720px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:720px;
}
#u5 {
  position:absolute;
  left:2px;
  top:352px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1220px;
  top:100px;
  width:360px;
  height:640px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u7 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1980px;
  top:100px;
  width:360px;
  height:640px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u9 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1600px;
  top:100px;
  width:360px;
  height:640px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u11 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:0px;
  width:300px;
  height:80px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  white-space:nowrap;
}
